@viewport {
  width: device-width;
  zoom: 1;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* header部分 */
.header {
  display: none;
}

.mobile_header {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  position: relative;

}

.mobile_header span{
  float: right;
  padding-right: 8px;
  padding-left: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.mobile_header span a {
  color: #000;
}

.mobile_header span:nth-child(2){
  border-right: 1px solid #2AB078;
  right: 55px;
}



/* nav部分 */
.nav {
  width: 100%;
  height: 60px;
  position: relative;
}

.nav_bar {
  display: none;
}

.menu_bar,
.nav img,
.mobile_header {
  display: block;
}

.mobile_icon {
  position: absolute;
  max-width: 200px;
  width: auto;
  /* height: 100%; */
  height: auto;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.menu_bar {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: rgb(38, 162, 111);
  border-radius: 4px;
}

.menu_bar img{
  width: 20px;
  height: 20px;
}

.menu {
  display: none;
}

.menu ul{
  padding: 0;
  margin: 0;
  background-color: #2AB078;
}

.menu ul::before{
  content: "";
  display: table;
}

.menu li{
  height: 40px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu ul li a {
  line-height: 40px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
}

.menu ul li:hover {
  background-color: #38c58a;
}

/* banner部分 */
.banner img{
  width: auto;
  height: auto; 
  max-width: 100%; 
  max-height: 100%;
}

.banner {
  background-image: none;
  height: auto;
}

/* main部分 */
.main {
  height: auto;
  padding-bottom: 20px;
}

.main .partners {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  float: none;
}

.main .introduction {
  float: none;
  width: auto;
  height: auto;
}

/* .main .introduction  .top_introduction .icon,
.main .introduction  .top_introductionp {
  float: none;
  margin: 0;
  padding: 0;
  background-position: none;
  height: auto;
}

.main .introduction  .top_introduction .icon {
  height: 177px;
  background-position: 0 0;
}

.main .introduction  .top_introduction {
  width: 100%;
} */

.main .introduction {
  display: none;
}




/* footer部分 */
.footer .link ul li,
.footer .link ul {
  margin: 10px;
  text-align: center;
}

.footer .end .topic,
.footer .end .web,
.footer .end .web_link span {
  position: static;
  margin-top: 10px;
}

.footer .end .web_link {
  display: flex;
  flex-flow: column;
}

.footer .end .vx .topic {
  top: 28px;
}

.footer .end {
  height: auto;
  text-align: start;
}

.footer .end .about_us ul li{
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.footer .copyright {
  height: auto;
  width: 100%;
  text-align: center;
  line-height: normal;
}